* styles.css */

/* Reset default padding and margin */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

/* Header */
header {
  background-color: #333;
  padding: 20px;
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Main */
main {
  padding: 20px;
}

/* Table */
#dogodki-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#dogodki-table th,
#dogodki-table td {
  padding: 10px;
  text-align: center;
}

#dogodki-table .event-name {
  text-align: left;
}

/* Buttons */
.rezervirajButton {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rezervirajButton:hover {
  background-color: #555;
}

/* Number selector */
input[type="number"] {
  width: 60px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 5px;
}

/* Footer */
footer {
  background-color: #333;
  padding: 20px;
  color: #fff;
  text-align: center;
}